.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #191414, #16863e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SignInBox {
  background-image: linear-gradient(to bottom right, lightgray, black);
  color: black;
  display: flex;
  flex-direction: column;

  height: 400px;
  width: 600px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.sign-in-buttons {
  /*align-self: center;*/
  /*align-content: center;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  display: flex;
  flex-direction: column;


}

.log-buttons {
  width: 200px;
  /*margin-bottom: 50px;*/
  min-height: 0;
  min-width: 0;
  display: inline-flex;
  padding: 50px;
}

.main-page {
  background-image: linear-gradient(lightgray, grey);
  color: black;
  display: flex;
  flex-direction: row;

  min-height: 90vh;
  width: 90vw;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.content {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  /*align-items: end;*/
  /*background-color: red;*/
  /*margin: 15px 15px 15dpx 0;*/
}

.profile-name {
  margin-top: -1px;
}

.playlist {
  width: 300px;
  height: 350px;
  min-width: 300px;
  min-height: 350px;
  margin: 10px 30px;
}

.playlist-title {
  background-color: white;
  font-size: x-large;
  width: 100%;
  height: 10%;
}

.playlist-image {
  background-color: darkgreen;
  width: 100%;
  height: 90%;
}

.Playlist-List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.new-playlist-button {
  width: 300px;
  height: 350px;
  min-width: 300px;
  min-height: 350px;
  margin: 10px 40px;
  background-color: lightgray;
  font-size: xxx-large;
}